*{
    box-sizing: border-box;  
    margin: 0;
    border: 0;
  }
.header{
  display: flex;
  padding: 8px;
  text-align: start;
  background-color: rgb(63, 62, 62);
  color: white;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
}
.about-section {
  padding: 30px;
  text-align: center;
  background-color:rgba(255, 0, 17, 0.658);
  color: white;
}
.button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  margin: 4px 2px;
  font-size: 16px;
  cursor: pointer;
  color:rgba(255, 0, 17, 0.658);
  border-radius: 8px;  
}
ul {
display: flex;
list-style-type: none;
text-decoration: none;
align-items: center;
margin: 5px 5px;
}
li {
display: list-item;
height:  auto;
align-items: center;
margin-right: 15px;
}
.middle-section {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.main-container {
height: 450px;
color: black;
background-color: azure;
}
.img-container {
display: flex;
text-align: center;
justify-content: space-between;
flex-wrap: wrap;
}
.img1, 
.img2, 
.img3 {
background-color: white;
width: 30%px;
height: 300px;
margin: 20px;
padding: 40px;
background-size: cover;
}
img {
width: 170px;
height: 170px;
overflow-clip-margin: content-box;
}
div {
display: block;
}
.contact-area {
display: flex;
background-color:rgba(255, 0, 17, 0.658);
height: 400px;
flex-direction: column;
padding: 30px;
margin-bottom: 20px;
}
.form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 15px;
}
.form textarea {
padding: 10px;
width: 100px;
height: 150px;
border-radius: 5px;
border: none;
margin-top: 20px;
}

.footer {
background-color: black;
color: white;
display: flex;
align-items: center;
justify-content: center;
height: 100px;
}